<header>
  <a href="/index"><h1 id="logo">Eatwell</h1></a>
  <ul>
    <a href="/restaurants">
      <li>Browse Restaurants</li>
    </a>

    <a href="/recommend">
      <li>Share a Restaurant</li>
    </a>

    <a href="/about">
      <li>About Eatwell</li>
    </a>
  </ul>
</header>
