<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>500 SERVER ERROR!</h1>
      <p>Sorry we are trying our best to resolve this issue</p>
    </main>
  </body>
</html>
