<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Eatwell</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
        voluptatem odit veritatis est tempore quae sint ut quasi commodi
        aliquam, id eum sit. Ipsam assumenda ut illum voluptatum? Quisquam,
        ipsum.
      </p>
    </main>
  </body>
</html>
