<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <section>
        <h1>Success!</h1>
        <p>Your Restaurant was added to our list</p>
      </section>
    </main>
  </body>
</html>
