<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <section>
        <h2>Make the World a tastier place!</h2>
        <p>
          Share your favorite restaurants or find recommendations of other users
        </p>
      </section>

      <section id="other-links">
        <a href="/restaurants" class="btn">Browse Shared Restaurants</a>
        <a href="/recommend" class="btn">Share Your Favourite Restaurant</a>
      </section>
    </main>
  </body>
</html>
