<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recommend restaurant</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/recommend.css" />
  </head>
  <body>
    <header>
      <a href="/index"><h1 id="logo">Eatwell</h1></a>
     <ul>
        <a href="/restaurants">
          <li>Browse Restaurants</li>
        </a>

        <a href="/recommend">
          <li>Share a Restaurant</li>
        </a>

        <a href="/about">
          <li>About Eatwell</li>
        </a>
      </ul>
    </header>
    <main>
      <section>
        <h2>Share Favourite Restaurant</h2>
      </section>
      <section id="form-section">
        <form action="/recommend" method="POST">
          
              <label for="restaurant-name">Restaurant Name</label>
              <input
                type="text"
                name="restaurant-name"
                type="text"
                id="restaurant-name"
              />
            
              <label for="address">Address</label>
              <input type="text" name="Address" type="text" id="address" />
            
              <label for="website">Website</label>
              <input
                type="text"
                name="website"
                type="text"
                id="website"
              />
           
              <label for="cuisine-type">Type of Cuisine</label>
              <input
                type="text"
                name="cuisine-type"
                type="text"
                id="cuisine-type"
              />
            
              <label for="description">Why do you Recommend?</label>
              <textarea id="description" type="text" rows="5"></textarea>
              <button type="submit">Share</button>
            </li>
          </ul>
        </form>
      </section>
    </main>
  </body>
</html>
